<div class="card bg-base-100 shadow-sm animate-fadeIn h-full">
  <figure>
    <img [src]="product().images | ProductImage" [alt]="product().title" />
  </figure>
  <div class="card-body flex flex-col">
    <div class="flex justify-between">
      <h2
        class="card-title font-bold font-montserrat text-accent text-xl hover:underline cursor-pointer"
        [routerLink]="['/product', product().slug]"
      >
        {{ product().title }}
      </h2>
      <span class="text-lg">${{ product().price }}</span>
    </div>
    <p class="grow">{{ product().description | slice: 0 : 70 }}...</p>
    <div class="card-actions justify-end">
      <a [routerLink]="['/product', product().slug]" class="link link-accent">Comprar</a>
    </div>
  </div>
</div>
