<div class="card bg-base-100 shadow-sm animate-fadeIn">
  <figure>
    <img [src]="product().images | ProductImage" [alt]="product().title" />
  </figure>
  <div class="card-body">
    <div class="flex justify-between">
      <h2 class="card-title font-bold font-montserrat text-accent text-xl">
        {{ product().title }}
      </h2>
      <span class="text-lg">${{ product().price }}/mo</span>
    </div>
    <p>{{ product().description | slice: 0 : 70 }}...</p>
    <div class="card-actions justify-end">
      <a [routerLink]="['/product', product().slug]" class="link link-accent">Comprar</a>
    </div>
  </div>
</div>
